<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IContract" />
                <binding name="BasicHttpBinding_IContractAlter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49333/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IContract" contract="ServiceReference.IContract"
                name="BasicHttpBinding_IContract" />
            <endpoint address="http://localhost:49333/Service.svc/alter"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContractAlter"
                contract="ServiceReference.IContractAlter" name="BasicHttpBinding_IContractAlter" />
        </client>
    </system.serviceModel>
</configuration>