<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IContractUser" />
                <binding name="BasicHttpBinding_IContractWeather" />
                <binding name="BasicHttpBinding_IContractChat" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://testforfree.somee.com/Service.svc/user"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContractUser"
                contract="ServiceReference.IContractUser" name="BasicHttpBinding_IContractUser" />
            <endpoint address="http://testforfree.somee.com/Service.svc/weather"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContractWeather"
                contract="ServiceReference.IContractWeather" name="BasicHttpBinding_IContractWeather" />
            <endpoint address="http://testforfree.somee.com/Service.svc/chat"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContractChat"
                contract="ServiceReference.IContractChat" name="BasicHttpBinding_IContractChat" />
        </client>
    </system.serviceModel>
</configuration>