<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IContractWeather">
                    <security mode="Message">
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="WSDualHttpBinding_IContractChat">
                    <security mode="Message">
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49333/Service.svc/weather"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IContractWeather"
                contract="ServiceReference.IContractWeather" name="WSDualHttpBinding_IContractWeather">
                <identity>
                    <userPrincipalName value="PC\Admin" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:49333/Service.svc/chat" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IContractChat" contract="ServiceReference.IContractChat"
                name="WSDualHttpBinding_IContractChat">
                <identity>
                    <userPrincipalName value="PC\Admin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>