<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--appSettings>
    <add key="login" value="inua" />
    <add key="pass" value="1qaz!QAZ" />
  </appSettings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IContractWeather">
          <reliableSession inactivityTimeout="24.00:00:00" enabled="true" />
          <security mode="Message">
            <transport proxyCredentialType="None" clientCredentialType="None" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IContractChat">
          <security mode="Message">
            <transport proxyCredentialType="None" clientCredentialType="None" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
          <reliableSession inactivityTimeout="24.00:00:00" enabled="true" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://testforfree.somee.com/Service.svc/weather"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IContractWeather"
        contract="ServiceReference.IContractWeather" name="WSHttpBinding_IContractWeather">
        <identity>
          <servicePrincipalName value="host/VB3100" />
        </identity>
      </endpoint>
      <endpoint address="http://testforfree.somee.com/Service.svc/chat"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IContractChat"
        contract="ServiceReference.IContractChat" name="WSHttpBinding_IContractChat">
        <identity>
          <servicePrincipalName value="host/VB3100" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>